.c3 line,
.c3 path {
  stroke: #4e555c;
}
.c3-tooltip {
  color: #eee;
  background-color: #1c201f;
  border: none;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}
.c3-tooltip tr,
.c3-tooltip th,
.c3-tooltip td {
  color: #eee;
  background-color: transparent;
  border: none;
}
.c3 text {
  fill: #51565d;
}
