/**
* Colors:
*   primary: #f3bd1c
*   primary light: #ffda53
*   grey light: #ccd0d1
*   grey medium: #8c959e
*   grey dark: #1c201f
*/

html, body, #map {
  color: #eee;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
h1 {
  text-shadow: 0 5px 20px rgba(0,0,0,.25);
  color: #f3bd1c;
  font-size: 15vmin;
  font-weight: 300;
  line-height: 1.1em;
  letter-spacing: -5px;
  margin: 30px 0 10px 0;
}
h2 {
  color: #f3bd1c;
  font-weight: 100;
  margin: 30px 0 10px 0;
}
h2:first-of-type {
  margin-top: 10px;
}
.metric {
  color: #8c959e;
  font-size: 1.3rem;
}
.huge-number {
  color: #eee;
  font-size: 4rem;
  font-weight: 100;
}
.page-header {
  background-color: #1c201f;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #ccd0d1;
  display: table;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  position: absolute;
  width: 100%;
  z-index: 90;
}

.page-header__item {
  display: table-cell;
  vertical-align: middle;
}

.page-header__item--user,
.page-header__item--logout {
  width: 1%;
}

.page-header__item-link {
  margin-bottom: -6px;
  padding: 5px 25px 0;
  transition: opacity .2s ease;
}

.page-header__item-link:hover svg {
  opacity: .75;
  transition: opacity .2s ease;
}

.map-container {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  top: 60px;
  transition: .2s all ease;
  width: 100%;
  z-index: 50;
}
.content-container {
  display: table;
  padding: 15px 30px;
  box-sizing: border-box;
  text-align: center;
  width:100%;
}
.content-container > div {
  display: table-cell;
  vertical-align: middle;
}
.logo {
  font-size: 1.4rem;
  font-weight: 100;
}

.highlight {
  color: #f3bd1c;
  font-weight: 400;
}

.svg-icon {
  box-sizing: border-box;
  display: inline-block;
  height: 24px;
  position: relative;
  width: 24px;
}

.svg-icon svg {
  bottom: 0;
  display: inline-block;
  height: 24px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  fill: #f3bd1c;
}

.drawer {
  background: #1c201f;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 100%;
  padding: 15px 15px 80px;
  position: absolute;
  right: -400px;
  overflow-y: auto;
  top: 60px;
  transition: .2s all ease;
  width: 400px;
  z-index: 80;
}
.drawer--open .drawer {
  right: 0;
}
.close {
  text-align: right;
}
.close__button {
  background: transparent;
  border: none;
  color: #8c959e;
  display: inline-block;
  font-size: 1rem;
}
.close__button:hover {
  cursor: pointer;
  opacity: .75;
}
.close__button:focus {
  outline: none;
}
.btn {
  background: #f3bd1c;
  border: none;
  border-radius: 3px;
  color: #1c201f;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 30px;
  transition: .2s all ease;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--large {
  font-size: 4vmin;
  padding: 20px 40px;
  border-radius: 6px;
}
.btn:hover,
.btn:focus {
  opacity: .9;
  outline: none;
  transition: .2s all ease;
}
.btn:active {
  opacity: .75;
  outline: none;
}
.btn--block {
  display: block;
  width: 100%;
}
hr {
  border: 1px solid #fff;
  margin: 30px 0;
  opacity: .1;
}
.margin-top {
  margin-top: 7em;
}

.svg-logo {
  display: inline-block;
  height: 42px;
  margin-right: 5px;
  vertical-align: middle;
  width: 42px;
}
.bg-video {
    background: url(../../media/vid-bg.jpg) no-repeat;
    background-size: cover;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -100;
}
.page-overlay {
  /*background-color: rgba(0,0,0,0.4);*/
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-size: 2px 2px;
  height: 100%;
  z-index: 50;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
}
.page-header__item a {
  color: inherit;
  text-decoration: none;
}
.notification {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 30px;
  box-sizing: border-box;
  text-shadow: 0 2px 5px rgba(0,0,0,.25);
  font-size: 1.3rem;
  font-weight: 100;
  text-align: center;
}
